@charset "UTF-8";

		table{
			float:left;
			width:55%;
		}
		table th,td{
			padding:2px;
			font-size:12px;
		}

		form{
			border:3px double #333333;
			border-radius:20px;
			height:200px;
			width:45%;
			margin-right:2.5%;
			margin-left:2.5%;
			margin-bottom:20px;
			float:left;
			padding:10px 0 10px 0;
		}
		img{
			margin-left:10px;
		}
		/*========ID LAYOUT========*/
		#submit{
			width:60px;
			float:left;
			height:130px;
			padding-top:15px;
		}
		.cartsubmit{
			margin-bottom:20px;
		}
		.submit{
			height:50px;
			width:50px;
			font-size:10px;
		}

		.image{
			width:150px;
			height:150px;
			margin-top:10px;
			float:left;
		}